<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<link rel="stylesheet" href="/css/Pre-workspace.css">
<body>
    <div class="left">
        <div class="userdiv">
            <img id="user" src="https://drive.google.com/uc?id=1HtUgVdz9uDcLpuyQZgz5Sb_s95AFNP65" alt="">
            <p class="username" id="username"> <%= user.name %> </p>
            <p class="email" id="useremail"><%= user.username %></p>
        </div>
        <button id="viewprofile">
            <img class="icon" id="view" src="https://drive.google.com/uc?id=1YMiVSyVkwntuU6-ysGjl7RxuK_MH1jiX" alt="Image here">
            View Profile
          </button>
          
        <button id="editprofile"><img class="icon" id="edit" src="https://drive.google.com/uc?id=1D3uDvm7DeKQTLKwLubvDusiefhB1R3l6">Edit Profile</button>
        <button id="projects"><img class="icon" id="procreate" src="https://drive.google.com/uc?id=1lEAaaBARIHuzHd08MWYzmc_hb4aWkNT-">Projects</button>
        <button id="bookmarks"><img class="icon" id="bookmar" src="https://drive.google.com/uc?id=1okZPuKKEU-sf7kmCS4XCLxuSjqTPSc3M">Bookmarks</button>
        <form action="/logout" method="post">
        <button id="logout">Log Out</button>
    </form>
    </div>
    <div class="dialogue" id="diag">
        <p class="bookmark_diag">You can view your bookmarked projects</p>
    </div>
    <div id="creatediv">
        <p id="createhead1">Create your projects here</p>

        <div id="container">
                <% i=0 %>
                <% if (projects.length > 0) { %>
                  <% projects.forEach(project => { %>
                    <% i++ %>
                    <div class="projectdiv" onclick="location.href='/workspace/<%= project._id %>'">
                        <div class="projectnamediv">
                            <div class="projectnametext"><%= project.name %></div>
                        </div>
                    </div>
                  <% }); %>

                <% } else { %>
                  <p>No projects found</p>
                <% } %>
        </div>
        <form method="post" action="/create-project">
        <input name="projectName" type="text" class="proname" id="proname" placeholder="Project name" required>
        <button id="create" class="create">Create</button>
        </form>
    </div>
    
    <% console.log(i) %>
        
          
      

    <form action="" id="edit_user">

        <input type="text" id="name" placeholder="Enter Your Name">

        <label for="organization" class="butlabel" id="organizationlabel">Institute/Organization</label>
        <input type="text" class="but" id="organization" placeholder="ex. Dragon Realstates">

        <label for="adress" class="butlabel" id="adresslabel">Adress</label>
        <input type="text" class="but" id="adress" placeholder="ex. Dragon Realstates Park street, Block-A">

        <label for="city" class="butlabel" id="citylabel">City</label>
        <input type="text" class="but" id="city" placeholder="ex. Seattle">

        <label for="state" class="butlabel" id="statelabel">State</label>
        <input type="text" class="but" id="state" placeholder="ex. Washington">

        <label for="country" class="butlabel" id="countrylabel">Country</label>
        <input type="text" class="but" id="country" placeholder="ex. United States">
        
        <button id="save">Save</button>
        
    </form>

    <div id="view_user">
        <p id="namev"><%= user.name %></p>

        <p class="labelv" id="organizationlabelv">Institute/Organization</p>
        <p class="butv" id="organizationv">IIIT Dharwad</p>

        <p class="labelv" id="adresslabelv">Adress</p>
        <p class="butv" id="adressv">IIIT Dharwad, Ittigatti road, near Sattur colony</p>

        <p class="labelv" id="citylabelv">City</p>
        <p class="butv" id="cityv">Dharwad</p>

        <p class="labelv" id="statelabelv">State</p>
        <p class="butv" id="statev">Karnataka</p>

        <p class="labelv" id="countrylabelv">Country</p>
        <p class="butv" id="countryv">India</p>

        <button id="editv">Edit</button>
    </div>


    <script>
        let reload=document.getElementById('reload')
        let projects=document.getElementById('projects')
        let editprofile=document.getElementById('editprofile')
        let viewprofile=document.getElementById('viewprofile')
        let bookmarks=document.getElementById('bookmarks')

        let creatediv=document.getElementById('creatediv')
        let edituser=document.getElementById('edit_user')
        let viewuser=document.getElementById('view_user')
        let diag=document.getElementById('diag')

        let create=document.getElementById('create')
        let editv=document.getElementById('editv')
        let save=document.getElementById('save')


        window.onload=function()
        {
            diag.style.display="none"
            edituser.style.display="none"
            viewuser.style.display="none"
            creatediv.style.display="flex"
        }

        bookmarks.addEventListener("mouseover",
        function()
        {
            diag.style.display="inline"
        })
        bookmarks.addEventListener("mouseout",
        function()
        {
            diag.style.display="none"
        })
        bookmarks.addEventListener("click",
        function()
        {
            diag.style.display="none"
            edituser.style.display="none"
            viewuser.style.display="none"
            creatediv.style.display="none"
        })

        editprofile.addEventListener("click",
        function()
        {
            edituser.style.display="flex"
            viewuser.style.display="none"
            creatediv.style.display="none"
        })

        viewprofile.addEventListener("click",
        function()
        {
            viewuser.style.display="flex"
            edituser.style.display="none"
            creatediv.style.display="none"
        })

        editv.addEventListener("click",
        function()
        {
            edituser.style.display="flex"
            viewuser.style.display="none"
            creatediv.style.display="none"
        })

        projects.addEventListener("click",
        function()
        {
            edituser.style.display="none"
            viewuser.style.display="none"
            creatediv.style.display="flex"
        })

        let i=0
//         create.addEventListener("click", function() {
//             if (i >= 8) {
//                 alert("you cannot create more projects");
//             } else {
//                 const projectdiv=document.createElement("div")
//                 projectdiv.classList.add("projectdiv")
//                 container.appendChild(projectdiv)   
//                 const projectnamediv=document.createElement("div")
//                 projectnamediv.classList.add("projectnamediv")
//                 projectdiv.appendChild(projectnamediv) 
                
//                 // Add an onClick event listener to the projectnamediv element
//                 projectdiv.addEventListener("click", function() {
//                 // Get the project name from the projectnamediv's text content
//                 const projectName = projectdiv.textContent.trim();
//                 // Redirect to the workspace page with the project name as a parameter
//                 window.location.href = '/workspace?project=' + projectName;
//                 });
//                 const projectnametext=document.createElement("span")
//                 projectnametext.classList.add("projectnametext")
//                 projectnamediv.appendChild(projectnametext) 



//     const bookmarkproject = document.createElement("img");
//     bookmarkproject.classList.add("bookmarkproject");
//     projectdiv.appendChild(bookmarkproject);

//     bookmarkproject.src = "https://drive.google.com/uc?id=1K-oCbuOAi81pP2txElgjXu_Wn7ODur0i";
//     let naam = document.getElementById('proname').value;
//     projectnametext.innerHTML = naam;

//     bookmarkproject.addEventListener("click", function() {
//       container.removeChild(projectdiv);
//     });
//   }
//   i++;
// });

    </script>  
</body>
</html>