<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=3, initial-scale=1.0">
    <title>workspace</title>
    <link rel="stylesheet" href="/css/workspace.css">
</head>
<style>
</style>

<body>
    <div id="back"></div>
    <div id="left" class="left">
        <p id="project_name">
            <%= project.name %>
        </p>
        <button class="features" id="addmember">Add Member</button>
        <button class="features" id="task_management"><img class="logo_but"
                src="https://drive.google.com/uc?export=view&id=1G7SoF3dSO8KJaih2gd-QEQK48ZBjnyIB"
                alt="Task Management">Task Management</button>
        <button class="features" id="file_share"><img class="logo_but"
                src="https://drive.google.com/uc?export=view&id=10ceCs2hQlL0FLKx2Dbbq3WtS3V89jtN0"
                alt="File Sharing">File Sharing</button>
        <button class="features" id="communication"><img class="logo_but"
                src="https://drive.google.com/uc?export=view&id=12WtZqaQCqC0bRVUJaqerilHqOwVdXwvG"
                alt="Communication">Communication</button>
        <button class="features" id="project_analysis"><img class="logo_but"
                src="https://drive.google.com/uc?export=view&id=129D5AI1a6mZ9aiMaw7d-1DnlUhzaaQl0"
                alt="Project Analysis">Project Analysis</button>
        <button id="drop_project_button">Drop Project</button>
    </div>

    <div id="taskdiv_id" class="taskdiv">
        <p class="todo">Roadmap</p>
        <button id="add_sprint">Add Sprint</button>
        <hr class="taskline">
        <div class="sprint_head_container">
            <% i=0 %>
            <% projects.forEach(project => { %>
                <% i++ %>
                <div class="sprint_back">
                    <div class="sprint">Sprint</div>
                    <p id="add_new">+ New</p>
                </div>
            <% }); %>
        </div>
    </div>

    <div id="add_mem">
        <input type="email" id="email" placeholder="Email of member">
        <img src="https://drive.google.com/uc?export=view&id=1JGZA6uKCjA4XAjP3tJKkxImYAePwqlgO" alt="" id="email_img">
        <input type="text" id="role" placeholder="Role : ex. Frontend Developer">
        <img src="https://drive.google.com/uc?export=view&id=19wNPxYbRnEjfeYdWSWkaen7tB7zANsMg" alt="" id="role_img">
        <button id="invite">Invite</button>
        <img src="https://drive.google.com/uc?export=view&id=1ljAvSBTtWC5vIt8zQjTu_vZVDAaZlbvs" alt="" id="close">


        <hr id="tophr">
        <p id="user_label">User</p>
        <p id="role_label">Role</p>
        <hr id="bottomhr">

        <div id="mem_owner">
            <p id="owner_name_add_mem">
                <%= user.name %>
            </p>
            <p id="owner_email_add_mem">
                <%= user.username %>
            </p>
            <p id="owner_role_add_mem"> Creator </p>
        </div>
        <div class="container" id="container"></div>
    </div>

    <form id="delete_window" action="/workspace/<%= project._id %>/delete" method="POST" onsubmit="return confirmDelete()">
            <h class="drop_project">Drop Project</h>
            <p id="type_to_delete">Type "<%= project.name %>" to drop the project</p>
            <input name="projectName" type="text" id="input_type_to_delete" placeholder="Type Here" required
                onkeyup="confirmDelete()">
            <button id="cancel_delete">Cancel</button>
            <button id="drop_project">Drop Project</button>
    </form>

    <script>
        let back = document.getElementById('back')
        let close = document.getElementById('close')
        let invite = document.getElementById('invite')
        let add_mem = document.getElementById('add_mem')
        let addmember = document.getElementById('addmember')
        let task_management = document.getElementById('task_management')
        let delete_window = document.getElementById('delete_window')

        window.onload = function () {
            add_mem.style.display = "none"
            taskdiv_id.style.display = "none"
            delete_window.style.display = "none"
        }

        addmember.addEventListener("click", function () {
            add_mem.style.display = "inline"
            back.style.background = "rgba(66, 66, 139, 0.307)"
            back.style.zIndex = 1
        })

        close.addEventListener("click", function () {
            add_mem.style.display = "none"
            back.style.background = "none"
            back.style.zIndex = 0
        })
        let i = 1

        invite.addEventListener("click",
            function () {
                if (i >= 5) {
                    alert("you cannot add more members")
                }
                else {
                    const mem_new = document.createElement("div")
                    mem_new.classList.add("mem_new")
                    container.appendChild(mem_new)

                    const mem_new_name = document.createElement('p')
                    mem_new_name.classList.add('mem_new_name')
                    mem_new.appendChild(mem_new_name)
                    mem_new_name.innerHTML = "Alexa Grace"

                    const mem_new_email = document.createElement('p')
                    mem_new_email.classList.add('mem_new_email')
                    mem_new.appendChild(mem_new_email)
                    let mem_new_mailadress = document.getElementById('email').value
                    mem_new_email.innerHTML = mem_new_mailadress

                    const mem_new_role_div = document.createElement('div')
                    mem_new_role_div.classList.add('mem_new_role_div')
                    mem_new.appendChild(mem_new_role_div)

                    const mem_new_role = document.createElement('p')
                    mem_new_role.classList.add('mem_new_role')
                    mem_new_role_div.appendChild(mem_new_role)
                    let mem_new_rolevalue = document.getElementById('role').value
                    mem_new_role.innerHTML = mem_new_rolevalue
                }
                i++
            })

        task_management.addEventListener("click",
        function ()
        {
            taskdiv_id.style.display = "flex"
        })


        let drop = document.getElementById('drop_project_button')
        drop.addEventListener("click",
        function () {
            delete_window.style.display = "flex"
        })

        let cancel = document.getElementById('cancel_delete')
        cancel.addEventListener("click",
        function () {
            delete_window.style.display = "none"
        })

        function confirmDelete() {
            const projectName = '<%= project.name %>';
            const inputName = document.getElementById('input_type_to_delete').value;
            const confirmButton = document.getElementById('drop_project');
            if (projectName === inputName) {
                confirmButton.disabled = false;
                confirmButton.style.color="grey"
                confirmButton.style.borderColor="grey"
                return true;
            } else {
                // alert("The name doesn't match. Please try again.");
                confirmButton.disabled = true;
                confirmButton.style.color="rgb(199, 199, 199)"
                confirmButton.style.borderColor="rgb(199, 199, 199)"
                return false;
            }
        }

    </script>
</body>

</html>